.thead {
  font-size:13px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  &__row {

  }

  &__cell {
    position:relative;
    border:1px solid #ccc;
    padding:20px 2px;
    padding-bottom:20px;
    font-size:12px;
    font-weight:700;
    text-align:center;

    &_header {

    }

    &_filter {

    }

    &_dropHere {


    }

  }

  &__dropLabel {
    position:absolute;
    top: -24px;
    right: -11px;
    display:none;

    .thead__cell_dropHere &{
      display:block;
    }

    &:after {
      content:"\f0a7";
      font-family:fontAwesome;
      color:#333;
      font-size:20px;
    }
  }

  &__cellHandle {
    position:absolute;
    top:2px;
    right:2px;
    left:2px;
    height:9px;
    background-color:#fafafa;
    cursor:move;
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    padding-right: 16px;
    position: relative;

    &:after {
      content:" ";
      position: absolute;
      top: 0;
      right: 2px;
      font-family:"fontAwesome";
      color:#000;
      font-size:17px;
      line-height:10px;
      margin-left: 2px;;
      width:10px;
    }

    &_sortable {
      cursor:pointer;
    }

    &_asc {
      cursor:pointer;

      &:after {
        content:"\f0de";
        top:3px;
      }
    }

    &_desc {
      cursor:pointer;

      &:after {
        content:"\f0dd";
        top:-3px;
      }
    }
  }

  &__hideLine {
    position:absolute;
    bottom:5px;
    left:0;
    width:100%;
    text-decoration:center;
  }

  &__hideBtn {
    color:blue;
    cursor:pointer;
    text-decoration:underline;
  }

  &__filter-inp {
    display:inline-block;
    width:90%;
    margin:0 auto;

  }
}