.treeViewItem {
  margin-bottom:20px;

  &__name {
    display:inline-block;
    background-color:#eee;
    padding:5px 10px;
  }

  &__name-value {
    text-decoration:underline;
    cursor:pointer;
  }
}